html {
  scroll-behavior: smooth;

  --base-color-rgb: 217, 217, 217;
  --base-color: rgb(var(--base-color-rgb));
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator-body {
  border: 1px solid var(--base-color);
  border-radius: clamp(10px, 4vw, 20px);
  box-shadow: 0 0 10px 1px rgba(var(--base-color-rgb), 0.5);
  padding: clamp(15px, 5vw, 25px);
}

.calculator-body > div {
  display: flex;
}

#calculator-input {
  background: none;
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 1px rgba(var(--base-color-rgb), 0.25);
  border: 1px solid rgba(var(--base-color-rgb), 0.4);
}

.calculator-button {
  flex: 1;
}