html {
  scroll-behavior: smooth;

  --base-color-rgb: 217, 217, 217;
  --base-color: rgb(var(--base-color-rgb));
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: azure;
}

.calculator-body {
  border: 1px solid var(--base-color);
  border-radius: clamp(10px, 4vw, 20px);
  box-shadow: 0 0 10px 1px rgba(var(--base-color-rgb), 0.5);
  padding: clamp(15px, 5vw, 25px);
  background-color: aliceblue;
}

.input-logo {
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.history-box {
  background: none;
  border: solid black 1px;
  padding: 15px;
  font-size: large;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 1px rgba(var(--base-color-rgb), 0.25);
  border: 2px solid rgba(var(--base-color-rgb), 0.4);
  overflow: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  height: 20px
}

#calculator-input {
  background: none;
  border: none;
  padding: 15px;
  font-size: large;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 1px rgba(var(--base-color-rgb), 0.25);
  border: 2px solid rgba(var(--base-color-rgb), 0.4);
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.calc-columns {
  display: flex;
  flex-direction: column;
}

#calculator-input:focus {
  background-color: rgb(250, 210, 210);
}

.calculator-button {
  font-display: flex;
  align-items: center;
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  font-size: 18px;
  border: solid black 2px;
  background-color: rgb(223, 245, 249);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.calculator-button:hover {
  background-color: rgb(255, 199, 204);
  transform: scale(1.1);
}

.directions-container {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  background: none;
  border: solid black 1px;
  padding: 15px;
  font-size: large;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(var(--base-color-rgb), 0.25);
  border: 2px solid rgba(var(--base-color-rgb), 0.4);
  height:300px;
  padding:40px;
  gap: 15px;
  margin-bottom: 10px;
}
.directions{
  border: solid black 1px;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  width: auto;
}